.formComprar {
    background-color: var(--bg-white);
    border-radius: var(--border-radius-xl);
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-md);
}

.contenImagenPrevia {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #b19393;
}

.form-control-compra {
    width: 100%;
}

.form-control-compraImagen {
    width: 100%;
}

.graficosRecursos {
    width: 300px;
}

.contenImagen {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #b19393;
}

.contenImagenPrevia {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #b19393;
}